/* Charts.css */
.charts-container {
  display:flex;
  justify-content:space-around;
  padding: 50px;
  background-color: #E0EAF6;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Optional: Style for individual charts */
.recharts-wrapper {
  border: 1px solid #ccc;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recharts-surface {
  border-radius: 5px;
}

.recharts-legend-item {
  font-size: 14px;
}

.recharts-tooltip {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recharts-tooltip-label {
  font-weight: bold;
}

.recharts-tooltip-item {
  font-size: 14px;
}
.head{
  color: #848484;
  padding: 0,7rem;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 10;
  line-height:normal;
  display: flex;
  padding: 10px 1%;
  align-items:start;
  gap: 10px;
  margin-left: 10%;
}
