/* src/App.css */
.controlling {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    margin: 0;
    padding: 0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 1% 0;
  }

  .lbl {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
  }
  
  .music-control, .sensor-data {
    margin-top: 20px;
  }
  
  .music-control button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .music-control button:hover {
    background-color: #0056b3;
  }

  