.table-wrapper {
    width: 100%;
    margin: 1% 0;
  }
  
  .table {
    
    overflow: hidden;
    table-layout:fixed;
    border-collapse:collapse;
    border-radius: 10px;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    margin:0;
    table-layout:auto;
    overflow-x: auto;
    background-color: aliceblue;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  }
  
  .table thead {
    color: #4d4d4d;
  }
  
  
  .table th,
  .table td {
    padding: 0.8rem;
    font-family: Montserrat ;
  }
  
  .table td {
    border-top: 0.5px solid #545454;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #323232;
  }
  
  .table tbody tr:hover {
    background-color: #cee2f7;
  }
  
  .expand {
    width: 100%;
  }
  
  
  .actions {
    display: flex;
    justify-content: space-around;
  }
  
  .actions svg {
    cursor: pointer;
  }
  
  .delete-btn {
    color: #e10d05;
  }
  